<body class="page">
        <main class="main page__main">
                <form class="login-form main__login-form">
                        <h3 class="login-form__title">Sign Up</h3>
                        <label class="login-form__label" for="uname"><span class="sr-only">Last Remembered
                                        Password</span><input class="login-form__input" type="text" id="uname"
                                        name="uname" value="" placeholder="Last Remembered Password"
                                        required="required" /></label>
                        <label class="login-form__label" for="psw"><span class="sr-only">New Password?</span><input
                                        class="login-form__input" type="text" id="psw" name="psw" value=""
                                        placeholder="Confirm Password" required="required" /></label>
                        <label class="login-form__label" for="psw"><span class="sr-only">Confirm Password?</span><input
                                        class="login-form__input" type="text" id="psw" name="psw" value=""
                                        placeholder="Confirm Password" required="required" /></label>
                        <button class="primary-btn" type="submit">Update Password</button>
                        <div class="login-form__footer"><a class="login-form__link" href="#">Sign In</a>
                        </div>
                </form>
        </main>
</body>