<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#"><img src="images/logo.png" alt=""></a>
        <span class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="bi bi-list"></i>
        </span>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">User Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">User History</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        User History
                    </a>
                    <ul class="bg-warning dropdown-menu">
                        <li><a class="text-dark dropdown-item" href="#">Mechanical</a></li>
                        <li><a class="text-dark dropdown-item" href="#">Electrical</a></li>
                        <li><a class="text-dark dropdown-item" href="#">Plumbing</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
    <div style="display: flex;" class="right">
        <div class="form-floating" style="height: 0px;">
            <input type="search" class="form-control" id="floatingInput">

        </div>
        <li>
            <a class="cart-link header-link" href="">
                <img class="cart-icon" src="/assets/images/cart-icon.png">
                <div class="cart-quantity">3</div>
                <div class="cart-text">Cart</div>
            </a>
        </li>

    </div>
</nav>