<body class="page">
    <main class="main page__main">
        <form class="login-form main__login-form" action="javascript:void(0)" method="POST">
            <h3 class="login-form__title">Sign In</h3>
            <label class="login-form__label" for="uname">
                <span class="sr-only">Username</span>
                <input class="login-form__input" type="text" id="uname" name="uname" value="" placeholder="Username"
                    required="required" [(ngModel)]="username" />
            </label>
            <label class="login-form__label" for="psw"><span class="sr-only">Password</span><input
                    class="login-form__input" type="password" id="psw" name="psw" value="" placeholder="Password"
                    required="required" [(ngModel)]="password" /></label><button class="primary-btn" type="submit"
                (click)="$event.preventDefault(); submit()">Login</button>
            <div class="login-form__footer"><a class="login-form__link"
                    (click)="$event.preventDefault(); navigateBackToSingIn()">Forget Password?</a><a
                    class="login-form__link" href="#" (click)="$event.preventDefault(); navigateToSingUp()">Sign Up</a>
            </div>
        </form>
    </main>
</body>